<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listener.ConnectionHandler</listener-class>
    </listener>
    <servlet>
        <servlet-name>FetchOrg</servlet-name>
        <servlet-class>controller.FetchOrg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyUser</servlet-name>
        <servlet-class>controller.VerifyUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>controller.RegisterUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BankingChoice</servlet-name>
        <servlet-class>controller.BankingChoice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterChoice</servlet-name>
        <servlet-class>controller.RegisterChoice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveOrganization</servlet-name>
        <servlet-class>controller.SaveOrganization</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScholarChoice</servlet-name>
        <servlet-class>controller.ScholarChoice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrgNameFetcher</servlet-name>
        <servlet-class>controller.OrgNameFetcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveEmp</servlet-name>
        <servlet-class>controller.SaveEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchEmpRequests</servlet-name>
        <servlet-class>controller.FetchEmpRequests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchFamily</servlet-name>
        <servlet-class>controller.FetchFamily</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFamilyMember</servlet-name>
        <servlet-class>controller.AddFamilyMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeLife</servlet-name>
        <servlet-class>controller.ChangeLife</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonitoryDetails</servlet-name>
        <servlet-class>controller.MonitoryDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewPolicy</servlet-name>
        <servlet-class>controller.AddNewPolicy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrgHeadDecision</servlet-name>
        <servlet-class>controller.OrgHeadDecision</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchDeathRequests</servlet-name>
        <servlet-class>controller.FetchDeathRequests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddScholarship</servlet-name>
        <servlet-class>controller.AddScholarship</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckClass</servlet-name>
        <servlet-class>controller.CheckClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckStatus</servlet-name>
        <servlet-class>controller.CheckStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveSeekerInfo</servlet-name>
        <servlet-class>controller.SaveSeekerInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAcademics</servlet-name>
        <servlet-class>controller.UpdateAcademics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadGiverSchemes</servlet-name>
        <servlet-class>controller.LoadGiverSchemes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FetchOrg</servlet-name>
        <url-pattern>/FetchOrg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyUser</servlet-name>
        <url-pattern>/VerifyUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BankingChoice</servlet-name>
        <url-pattern>/BankingChoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterChoice</servlet-name>
        <url-pattern>/RegisterChoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveOrganization</servlet-name>
        <url-pattern>/SaveOrganization</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScholarChoice</servlet-name>
        <url-pattern>/ScholarChoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrgNameFetcher</servlet-name>
        <url-pattern>/OrgNameFetcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveEmp</servlet-name>
        <url-pattern>/SaveEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchEmpRequests</servlet-name>
        <url-pattern>/FetchEmpRequests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchFamily</servlet-name>
        <url-pattern>/FetchFamily</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFamilyMember</servlet-name>
        <url-pattern>/AddFamilyMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeLife</servlet-name>
        <url-pattern>/ChangeLife</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonitoryDetails</servlet-name>
        <url-pattern>/MonitoryDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewPolicy</servlet-name>
        <url-pattern>/AddNewPolicy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrgHeadDecision</servlet-name>
        <url-pattern>/OrgHeadDecision</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchDeathRequests</servlet-name>
        <url-pattern>/FetchDeathRequests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddScholarship</servlet-name>
        <url-pattern>/AddScholarship</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckClass</servlet-name>
        <url-pattern>/CheckClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckStatus</servlet-name>
        <url-pattern>/CheckStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveSeekerInfo</servlet-name>
        <url-pattern>/SaveSeekerInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAcademics</servlet-name>
        <url-pattern>/UpdateAcademics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadGiverSchemes</servlet-name>
        <url-pattern>/LoadGiverSchemes</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
